@charset "UTF-8";
$colorDarkBlue: #18335e;
$colorLightBlue: #5c9afd;
$colorMiddleBlue: #0067b2;
$colorWhite: #ffffff;
$colorLightGrey: #e3e3e3;
$colorNormalBack: #FAF9F7;
$colorNormalGray: #e4e4e4;
$colorDarkGray: #757575;
$colorBlue: blue;
$colorRed: red;
$colorGreen: green;
$colorLightGreen: #56B04B;
$colorYellow: yellow;
$colorDarkBrown: #232323;